@import './com/mixins';

@include ResetCSS();

$fontFamily:"微軟正黑體", "Microsoft JhengHei" , Arial, Verdana, "Trebuchet MS", sans-serif;
$color-darkGray:rgb(105, 105, 105);
$color-lightGray:#e4e4e4;
$color-cream:#feffed;

#main{
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}


.simulateChat-topSection
{
    height: 8%;
    background: url(../../dist/images/bg_top.png) center no-repeat;
    background-size: cover;
    padding: 1em 0;

    span.simulateChat-top-members
    {
        width: 70%;
        height: 100%;
        display: block;
        font-size: 0;
        margin: 0 auto;
    }
}

.simulateChat-msgSection
{
    height: 82%;

    ul{
        li
        {
            margin: 3vmax 0;
            &.notify
            {
                span{
                    background: $color-lightGray;
                    border-radius: 2em;
                    color: $color-darkGray;
                }
            }

            img.avatar
            {
                width: 12%;
                border-radius: 0;
                border: none;
            }

            dl{
                font-size: 1.5vmax;

                dt{
                    color: white;
                    margin: 0 0 0 0.7em;
                }

                dd{
                    border-radius: 0.5em;
                    margin: 1% 0 0 0.7em;
                    padding: 0.7em;
                    background: $color-lightGray;
                    min-width: auto;

                    img.sticker{
                        width: 50%;
                        display: block;
                    }

                    &::after{
                        display: none;
                        visibility: hidden;
                        height: 0;
                    }

                    &::before
                    {
                        width: auto;
                        height: auto;
                        background: none;
                        border-bottom-left-radius:0;

                        content: "";
                        position: absolute;
                        z-index: 0;
                        border: 0.5em solid transparent;
                        border-right-color: $color-lightGray;
                        border-left: 0;
                        border-top: 0;
                        left: -0.4em;
                        top: 0.5em;
                    }

                    &.sticker{
                        background: none;
                        &::before{
                            display: none;
                        }
                    }
                }
            }

            &.self{
                dl{
                    dd{
                        background: $color-cream;

                        &::before, &::after{
                            display: none;
                            left: auto;
                            right: auto;
                        }
                        &::before{
                            display: block;
                            background: none;
                            border-right-color: $color-cream;
                            z-index: 99;
                            right: -0.4em;
                        }
                    }
                }
            }
        }
    }
}

.simulateChat-btmSection
{
    padding: 1em;
    background: black;
    position: relative;

    &::before, &::after
    {
        content: '';
        position: absolute;
        width: 13%;
        height: 60%;
        top: 50%;
        transform: translateY(-50%);
    }
    &::before{left:1em;}
    &::after{right:1em;}

    .simulateChat-replyBtn
    {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        background: no-repeat;
        background: url(../../dist/images/btn_reply.png) center no-repeat;
        background-size: contain;
        cursor: pointer;
        transition: filter .3s;
        border-radius: 0;


        &::before{
            display: none;
        }

        &:hover{
            background: url(../../dist/images/btn_reply.png) center no-repeat;
            background-size: contain;
            filter: brightness(1.1);
        }

        &.disable
        {
            background: url(../../dist/images/btn_reply.png) center no-repeat;
            background-size: contain;
            pointer-events: none;
            filter: brightness(0.5) grayscale(1);

            &::before{
                display: none;
            }
        }
    }
}

.simulateChat-replyBox
{
    ul{
        li{
            width: 80%;
            text-align: left;
            background: url(../../dist/images/btn_option.png) no-repeat;
            background-size: 100% 100%;
            margin: 3% auto;
            transition: filter 0.3s;
            border-radius: 0;
    
            &:hover{
                background: url(../../dist/images/btn_option.png) no-repeat;
                background-size: 100% 100%;
                filter: brightness(1.3);
            }
        }
    }
}

.RFA
{
    .simulateChat{
        background: url(../../dist/images/bg_RFA.jpg) center no-repeat;
        background-size: cover;
    }

    .simulateChat-topSection
    {
        span.simulateChat-top-members
        {
            background: url(../../dist/images/title_RFA.png) center no-repeat;
            background-size: contain;
        }
    }

    .simulateChat-btmSection
    {
        &::before, &::after
        {
            background: url(../../dist/images/icon_disk.png) center no-repeat;
            background-size: contain;
        }
    }
}

.unknow
{
    .simulateChat{
        background: url(../../dist/images/bg_unknow.jpg) center no-repeat;
        background-size: cover;
    }

    .simulateChat-topSection
    {
        span.simulateChat-top-members
        {
            background: url(../../dist/images/title_unknow.png) center no-repeat;
            background-size: contain;
        }
    }

    .simulateChat-btmSection
    {
        &::before, &::after
        {
            background: url(../../dist/images/icon_flower.png) center no-repeat;
            background-size: contain;
        }
    }
}
