@mixin ResetList
{
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
    box-sizing: border-box;
}

$fontFamily:"微軟正黑體", "Microsoft JhengHei" , Arial, Verdana, "Trebuchet MS", sans-serif;
$color-darkGray:rgb(105, 105, 105);
$color-lightGray:#e4e4e4;
$color-cream:#feffed;

.simulateChat
{
    width: 100%;
    height: 100%;

    background: url(../../dist/images/bg_RFA.jpg) center no-repeat;
    background-size: cover;

    *{
        box-sizing: border-box;
    }
}


/* 上方區域 */
.simulateChat-topSection
{
    height: 8%;
    background: url(../../dist/images/bg_top.png) center no-repeat;
    background-size: cover;
    padding: 1em 0;

    span.simulateChat-top-members
    {
        // font-family: $fontFamily;
        // font-size: 1.5vmax;
        // font-weight: bold;
        // text-align: center;
        // color: white;
        // display: block;
        // position: relative;
        // top: 50%;
        // transform: translateY(-50%);

        width: 70%;
        height: 100%;
        background: url(../../dist/images/title_RFA.png) center no-repeat;
        background-size: contain;
        display: block;
        font-size: 0;
        margin: 0 auto;
    }
}

/* 訊息區域 */
.simulateChat-msgSection
{
    height: 82%;
    overflow: hidden;

    ul
    {
        @include ResetList();
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 4% 2%;
        
        &::-webkit-scrollbar {
            display:none
        }

        li{
            @include ResetList();
            width: 100%;
            margin: 3vmax 0;
    
            &:last-of-type{
                margin: 0;
            }
    
            &.notify
            {
                margin: 0 0 1.5vmax 0;
                text-align: center;
                span{
                    font-size: 1.3vmax;
                    background: $color-lightGray;
                    padding: 1.5% 3%;
                    display: inline-block;
                    border-radius: 2em;
                    color: $color-darkGray;
                }
            }
    
            img.avatar{
                float: left;
                width: 12%;
            }
    
            // &::before, &::after{
            &::after{
                content: "";
                display: block;
            }
            // &::before{
            //     float: left;
            //     width: 12%;
            //     padding-top:12%;
            //     background: black center no-repeat;
            //     background-size: cover;
            //     border-radius: 100%;
            // }
            &::after{
                height: 0;
                font-size: 0;
                visibility: hidden;
                line-height: 0;
                clear: both;
            }
    
            // &.char_100::before{background-image: url(../images/avatars/100.jpg)}
            // &.char_2::before{background-image: url(../images/avatars/2.jpg)}
            // &.char_3::before{background-image: url(../images/avatars/3.jpg)}
    
            dl{
                font-size: 1.5vmax;
                // font-weight: bold;
                float: left;
                max-width: 75%;
                width: 100%;
                margin: 0;
                
                dt{
                    color: white;
                    margin: 0 0 0 0.7em;
                    padding: 0;
                }
    
                dd{
                    display: inline-block;
                    position: relative;
                    color: #3b3b3b;
                    background: $color-lightGray;
                    border-radius: 0.5em;
                    margin: 1% 0 0 0.7em;
                    padding: 0.7em;
                    min-width: 30px;
    
                    img.sticker{
                        width: 50%;
                        display: block;
                    }

                    &::before
                    {
                        content: "";
                        position: absolute;
                        border: 0.5em solid transparent;
                        border-right-color: $color-lightGray;
                        border-left: 0;
                        border-top: 0;
                        left: -0.5em;
                        top: 0.5em;
                    }

                    &.sticker{
                        background: none;
                        &::before{
                            display: none;
                        }
                    }
                }
            }
    
            &.self
            {
                &::before{
                    display: none;
                }
    
                dl{
                    float: right;
                    text-align: right;

                    dd
                    {
                        text-align: left;
                        background: $color-cream;

                        &.sticker{
                            background: none;
                        }

                        &::before{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* 底部區域 */
.simulateChat-btmSection
{
    height: 10%;
    padding: 1em;
    background: black;
    position: relative;

    &::before, &::after
    {
        content: '';
        position: absolute;
        background: url(../../dist/images/icon_disk.png) center no-repeat;
        background-size: contain;
        width: 13%;
        height: 60%;
        top: 50%;
        transform: translateY(-50%);
    }
    &::before{left:1em;}
    &::after{right:1em;}

    .simulateChat-replyBtn
    {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        background: url(../../dist/images/btn_reply.png) center no-repeat;
        background-size: contain;
        cursor: pointer;
        transition: filter .3s;

        &:hover{
            filter: brightness(1.1);
        }

        &.disable{
            pointer-events: none;
            filter: brightness(0.5) grayscale(1);
        }
    }
}

/* 回應視窗 */
.simulateChat-replyBox
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 9;
    display: table;

    ul{
        @include ResetList();

        display: table-cell;
        vertical-align: middle;

        li{
            font-family: $fontFamily;
            font-weight: bold;
            font-size: 2vmax;
            width: 80%;
            padding:5%;
            // text-align: center;
            color: #3b3b3b;
            background: url(../../dist/images/btn_option.png) no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
            margin: 3% auto;
            transition: filter 0.3s;
    
            &:hover{
                filter: brightness(1.3);
            }
        }
    }
}

